{% extends "base.html" %}
{% block content %}
<br>
<br>
<br>
          <button type="button" class="btn btn-primary btn-lg btn-block" style="height: 5em ;"><a style='color:white' href="{% url 'library_app:librarian_sign_up' %}">Sign up as a Librerian</a></button>
          <button type="button" class="btn btn-secondary btn-lg btn-block" style="height: 5em;"><a style='color:white' href="{% url 'library_app:member_sign_up1' %}">Sign up as a Member</a></button>
          {% endblock %}

    







  